body {
    font-size: Arial;
    background-color: #e7e1e1;
}

.container {
    max-width: 100%;
    margin: 5rem 3rem;
    padding: 5vh;
    background-color: #FFFDA8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    padding: 8px;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(180,70,128);
    color: #FFF;
}

p {
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
    text-align: center;
}

#numbers {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;   /* alinha os números */
    line-height: 60px;    /* centraliza os números */
    color: rgb(29, 27, 27);
    font-size: 2rem;
    font-weight: bold;
}

button{
    display: block;
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    color: #fff;
    background-color: rgb(180,70,128);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background-color: rgb(179, 26, 107);
    color: rgb(10, 235, 10);
}